*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
}