*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
}

.container {
    width: 35vw;
    display: grid;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 5rem;
    padding-bottom: 2rem;
    height: 12vw;
    box-shadow: 0 2px 5px black;
}

.container2 {
    width: 35vw;
    display: grid;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 5rem;
    padding-bottom: 2rem;
    height: 30vw;
    overflow-y: auto;
    box-shadow: 0 2px 5px black;
}

#header {
    margin-top: 2rem;
    text-align: center;
}

#btn {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #f0cf9f;
    color: #ffffff;
    font-size: 10pt;
    width: 5rem;
    height: 3rem;
    align-self: center;
}

.todobox {
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 32vw;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.knappar {
    display: grid;
    gap: 2rem;
}

.todoinput {
    display: flex;
    align-items: center;
}

.fa-trash {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: red;
    width: 5rem;
}

.fa-undo {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #f0cf9f;
    width: 5rem;
}

.done {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #f0cf9f;
    color: #ffffff;
    font-family: inherit;
    font-size: 14pt;
    width: 5rem;
    height: 3rem;
}


