*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e0aad3;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    justify-content: center;
}